.section--news .box-news {
    margin-bottom: 48px;
    min-height: 86px;
  }
  
  .section--background {
    background: #f5f5f5;
  }
  
  .section {
    padding-top: 90px;
    padding-bottom: 92px;
  }
  
  .pr-1,
  .px-1 {
    padding-right: 0.25rem;
  }
  
  .h1,
  h1 {
    font-size: 1.8rem;
    color: #1b75bc;
    font-weight: 400;
  }
  
  h2 {
    font-size: 1.2rem;
  }
  
  a {
    font-size: 1rem;
    color: #000;
  }
  
  .section--news a.view {
    text-decoration: underline;
  }
  
  a:hover {
    transition: all, .4s, ease;
    text-decoration: none;
  }
  
  a:hover h2 {
    text-decoration: underline;
  }
  
  a:hover p {
    color: #000;
  }
  
  .section--news .box-news p {
    margin-bottom: 0;
  }
  
  
  /* Media Queries */
  @media (min-width: 1230px) {
    .section--news .container {
      max-width: 1100px;
    }
  }  